
{% extends 'base.html' %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>ADD PAGE</title>
    {% endblock %}
</head>
<body>
    {% block content %}
    <h1><u><center>ADD CUSTOMER</center></u></h1>
    <form method="POST">
        {% csrf_token %}
        {{form|crispy}}
        <input type="submit" value="ADD CUSTOMER" class="btn btn-success col-4">
        <input type="reset" value="RESET" class="btn btn-warning col-4 float-end">
    </form>
    {% endblock %}
</body>
</html>